$green: #99E873;

.autocomplete-container {
  @include widget-box($green);

  input {
    background-color: white;
    color: $green;
    width: 98%;
    border: 1px solid $green;
    padding: 5px;
  }
  ul {
    list-style: circle;
    margin-top: 10px;
    padding-left: 20px;
  }

  button {
    width: 100%;
  }
  button:hover {
    background-color: $green;
    color: white;
  }
}
