$pink: #E80C7A;

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}


ul.tabs-header {
  display: flex;
  justify-content: center;
  font-size: 19px;
  width: 100%;
  
  button {
    display: block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    margin: 0px -1px 10px --1px;
    border: 1px solid $pink;
    width: 100%;
    color: $pink;
    margin-bottom: 10px;
  }

  button:hover {
    // background-color: lighten($pink, 30%);
    // color: white;
    // border: 1px solid $pink;
    display: block;
    animation-duration: 1s;
    // animation-fill-mode: both;
    animation-name: pulse;
  }

  button.selected {
    background-color: $pink;
    color: white;
    border: 1px solid $pink;
    cursor: default;
  }


}

.tabs-container {
  @include widget-box($pink);
  font-size: 20px;
}