[class^="widget-"] {
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
}

.widget-small {
  width: 280px;
}

.widget-group {
  display: flex;
  justify-content: space-between;
}

.widget-content {
  min-height: 150px;
  padding: 15px;
  margin-bottom: 40px;
  
}

@mixin widget-box($color) {
  border-top: 6px solid $color;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 transparentize($color, 0.9);
  color:$color;
}